
/* Componentes de Login Page */
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
    background: url("../assets/imgs/pexels-pixabay-159400.png")no-repeat;
    background-color: black;
    background-size: cover;
}
.login-box {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 3.5s;

    background-color: #fff;
    border-radius: 53px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 80%;
    padding:2% 6% ;

    
    color: grey;
    & img{
        width: 80px;
        height: auto;
    }
    & figcaption{
        margin-bottom: 1rem;
        font-weight:lighter;
        font-size: 1rem;
        letter-spacing: 3px;
    }
    & h1{
        margin-bottom: 1rem;
        font-weight: 600;
        text-align: center;
        color: #000;
    }
    & p{
        margin-bottom: 2rem;
        text-align: center;
    }
    & h2{
        font-weight: 100;
    }
    & footer{
        margin-top: 1.5rem;
        font-size: 0.7rem;
        color: #aaa;
    }
}
.login-box__form {
    display: flex;
    flex-direction: column;
    width: 100%;
     & input {
        margin-bottom: 1.5rem;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 18px;
        font-size: 1rem;
        
     }
     & p{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
        color: grey;
        margin-bottom: 0.2rem;
        margin-left: 2%;
     }
}
.login-box__button {
    padding: 1.1rem 4rem;
    border: none;
    border-radius: 36px;
    background-color: #ff721b;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;  
}

/* Componentes de Dashboard Page (in construction)*/
.header-dashboard {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 2rem 0rem 2rem;
    position: relative; /* Importante para el logo absoluto */
    border-bottom: #a7a7a7 2px solid;
}
.navigation-bar {
    width: 85%; /* Que ocupe todo el ancho */
}
.navigation-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

    li {
        font-size: 1rem;
        display: flex;
        align-items: center;
        
        a {
            color:#1d1d1d;
            font-weight: 500;
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        span {
            margin-left: 0.5rem;
        }
        img {
            width: 18px;
            height: auto;
        }
        
        &.logo-container {
            .Kario-media-logo-dashboard {
                width: 48px;
                height: auto;
            }
        }
    }
}
.header-icons-dashboard {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
    z-index: 10;
    
    img {
        cursor: pointer;
    }
}

.Dashboard-main-container {
    width: 100vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: larger;
        margin-bottom: 3rem;
    }

}
.table-container{
    justify-items: center;
}
.Dashboard-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 70%;

    th:nth-child(1){width: 10%;}
    th:nth-child(2){width: 15%;}
    th:nth-child(3){width: 8%;}
    th:nth-child(4){width: 13%;}
    th:nth-child(5){width: 18%;}
    th:nth-child(6){width: 10%;}
    th:nth-child(7){width:10%;}
    th:nth-child(8){width: 10%;}
    th:nth-child(9){width: 10%;}
    th:nth-child(10){width: 5%;}

    

    td {
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        padding: 1.2rem 0.5rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        &:first-child {
            border-left: 1px solid #ccc;
            border-radius: 40px 0 0 40px;
        }

        &:nth-child(9) {
            border-right: 1px solid #ccc;
            border-radius: 0 40px 40px 0;
        }

        &.col-menu-hamburguesa {
            background-color: transparent;
            border: none;
            width: 50px;
            padding-left: 15px;
            vertical-align: middle;
        }
    }
}

.hamburguesa-icon {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        border-radius: 2px;
    }
}