.header-dashboard {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 2rem 0rem 2rem;
    position: relative;
    border-bottom: #a7a7a7 2px solid;
}
.navigation-bar {
    width: 85%;
}
.navigation-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

    li {
        font-size: 1rem;
        display: flex;
        align-items: center;
        
        a {
            color:#1d1d1d;
            font-weight: 500;
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        span {
            margin-left: 0.5rem;
        }
        img {
            width: 18px;
            height: auto;
        }
        
        &.logo-container {
            .Kario-media-logo-dashboard {
                width: 48px;
                height: auto;
            }
        }
    }
}
.header-icons-dashboard {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
    z-index: 10;
    
    img {
        cursor: pointer;
    }
}

.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: 0.5rem 0 0 0.5rem;
    position: relative;
    background-color: rgb(255, 123, 0);
    border-top: #a7a7a7 2px solid;
}

.site-footer a{
    color:#1d1d1d;
    text-decoration: none;
}

.footer-p {
    font-size: x-small;
    color:#1d1d1d;
}

.footer-legal {
    font-size: x-small;
}