* {
    margin:0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

.logo-header {
    position: absolute;
    
    width: 100%;
    top: 18px;

    display: flex;
    justify-content: center;

    img {
        width: 48px;
    }
}

.navbar {
    display: flex;
    align-items: center;

    border-bottom: grey 1px solid;
    
    .navbar_left, .navbar_right, .navbar_config {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        button {
            background-color: transparent;
            border: none;

            
            display: flex;
            align-items: center;
        }
    }
    .navbar_left {
        width: 50%;
    }
    .navbar_right {
        width: 35%;
    }
    .navbar_config{
        width: 15%;
    }
    .navbar_item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 24px;
    }
}
.menu-checkbox, .menu-btn {
  display: none;
}

@media (max-width: 800px) {
    .logo-header {
        top: 0px;
        margin-top: 18px;
    }
    .menu-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 24px ;
        gap: 5px;
        cursor: pointer;
        z-index: 10;
    }

    /* Dibujar las líneas de la hamburguesa */
    .menu-btn span {
        width: 25px;
        height: 3px;
        background: #ff5500;
        transition: 0.3s;
    }

    .navbar {
        display: none; /* Oculto por defecto */
        border: none;
        flex-direction: column;
        position: absolute;
        top: 48px;
        right: 140px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    /* El TRUCO: Si el checkbox está marcado, mostrar el menú */
    .menu-checkbox:checked ~ .navbar {
        display: flex;
    }
}

.Dashboard-main-container {
    width: 100vmax;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: scroll;

    h1 {
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: larger;
        margin-bottom: 3rem;
    }

}
.table-container{
    justify-items: center;
}
.Dashboard-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 70%;

    th:nth-child(1){width: 10%;}
    th:nth-child(2){width: 15%;}
    th:nth-child(3){width: 8%;}
    th:nth-child(4){width: 13%;}
    th:nth-child(5){width: 18%;}
    th:nth-child(6){width: 10%;}
    th:nth-child(7){width:10%;}
    th:nth-child(8){width: 10%;}
    th:nth-child(9){width: 10%;}
    th:nth-child(10){width: 5%;}

    

    td {
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        padding: 1.2rem 0.5rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        &:first-child {
            border-left: 1px solid #ccc;
            border-radius: 40px 0 0 40px;
        }

        &:nth-child(9) {
            border-right: 1px solid #ccc;
            border-radius: 0 40px 40px 0;
        }

        &.col-menu-hamburguesa {
            background-color: transparent;
            border: none;
            width: 50px;
            padding-left: 15px;
            vertical-align: middle;
        }
    }
}

.hamburguesa-icon {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        border-radius: 2px;
    }
}