* {
    margin:0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    a {
        padding: 12px 24px;
    }
}

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }
    
}